
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="text-danger"><?= __('Transactions Types') ?></h3>
            <hr />
        </div>
        <div class="panel-body">
            <form action="<?php echo $this->Url->build(array("action" => "do-operation")) ?>" method="post">
                <!--Table Wrapper Start-->
                <div class="table-responsive ls-table">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th><?= $this->Paginator->sort('title') ?></th>
                                <th><?= $this->Paginator->sort('budget_item_id', __('Spend on item')) ?></th>
                                <th><?= $this->Paginator->sort('with_contract') ?></th>
                                <th><?= $this->Paginator->sort('with_trust_order') ?></th>
                                <!--<th><?= $this->Paginator->sort('active') ?></th>-->

                                <th class="actions"><?= __('Actions') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($transactionsTypes as $transactionsType): ?>
                                <tr>

                                    <td><?= $this->Html->tag('b', $transactionsType->title) ?></td>
                                    <td><?= $transactionsType->has('budget_item') ? $this->Html->link($transactionsType->budget_item->item_title, ['controller' => 'BudgetItems', 'action' => 'view', $transactionsType->budget_item->id]) : '' ?></td>
                                    <td><?= $transactionsType->with_contract ? '<h2 class="text-info"><i class="icon-check"></i></h2>' : '<h2 class="text-danger"><i class="icon-close"></i></h2>' ?></td>
                                    <td><?= $transactionsType->with_trust_order ? '<h2 class="text-info"><i class="icon-check"></i></h2>' : '<h2 class="text-danger"><i class="icon-close"></i></h2>' ?></td>
                                    <!--<td><?= h($transactionsType->active) ?></td>-->
                                    <td class="actions">
                                        <?= $this->Html->link('<i class="icon-tune"></i>', ['action' => 'edit', $transactionsType->id], ['class' => 'btn btn-success icon-btn btn-rounded', 'escape' => false]) ?>
                                        <?= $this->Html->link('<i class="icon-cancel2"></i>', ['action' => 'delete', $transactionsType->id], ['class' => 'btn btn-danger icon-btn btn-rounded', 'escape' => false, 'confirm' => __('Are you sure you want to delete # {0}?', $transactionsType->id)]) ?>


                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>

                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9 text-left">
                        <ul class="pagination ls-pagination">
                            <?php
                            if ($this->Paginator->hasPrev()) {
                                echo $this->Paginator->prev('< ' . __('previous'));
                            }
                            echo $this->Paginator->numbers();
                            if ($this->Paginator->hasNext()) {
                                echo $this->Paginator->next(__('next') . ' >');
                            }
                            ?>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>