<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Warehouse Supplier'), ['action' => 'edit', $warehouseSupplier->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Warehouse Supplier'), ['action' => 'delete', $warehouseSupplier->id], ['confirm' => __('Are you sure you want to delete # {0}?', $warehouseSupplier->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Warehouse Suppliers'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Warehouse Supplier'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="warehouseSuppliers view large-9 medium-8 columns content">
    <h3><?= h($warehouseSupplier->supplier_name) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Supplier Number') ?></th>
            <td><?= h($warehouseSupplier->supplier_number) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Supplier Name') ?></th>
            <td><?= h($warehouseSupplier->supplier_name) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($warehouseSupplier->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($warehouseSupplier->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Updated') ?></th>
            <td><?= h($warehouseSupplier->updated) ?></td>
        </tr>
    </table>
</div>
